<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
</head>
<body>
    <div>
        @RenderBody()
    </div>
    <footer>
        Created by
        <a href="#">M.D.S Interactive Developers</a>
    </footer>
</body>
</html>




