<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FreshSense</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/MaintenanceLandingPage.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/FreshSense.styles.css" asp-append-version="true" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <div class="logo"><img src="~/css/FreshSense-logo.jpg" alt="FreshSense Logo"></div>
                <partial name="_LoginPartial" />
            </div>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>
    <footer>
        Created by <a href="#">M.D.S Interactive Developers</a>
    </footer>
</body>
</html>
